.wrapper {
  width: 90px; /* Ajuste a largura conforme necessário */
  height: 90px; /* Ajuste a altura conforme necessário */
  font-size: 2rem; /* Ajuste o tamanho do texto conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}